Axiom==0.6.0
BeautifulSoup==3.2.0
Brlapi==0.5.5
BzrTools==2.4.0
ClientForm==0.2.10
Coherence==0.6.6.2
CouchDB==0.8
Epsilon==0.6.0
GeoIP-Python==1.2.4
GnuPGInterface==0.3.2
Louie==1.1
Mako==0.4.1
MarkupSafe==0.12
MySQL-python==1.2.3
Nevow==0.10.0
PAM==0.4.2
PIL==1.1.7
SOAPpy==0.12.0
Twisted-Conch==11.0.0
Twisted-Core==11.0.0
Twisted-Names==11.0.0
Twisted-Web==11.0.0
Twisted-Web2==8.1.0
adium-theme-ubuntu==0.3.1
apt-xapian-index==0.44
apturl==0.5.1ubuntu1
beautifulsoup4==4.3.2
bzr==2.4.2
chardet==2.0.1
command-not-found==0.2.44
configglue==1.0
configobj==4.7.2
cssutils==0.9.8a1
defer==1.0.2
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.16dev-r0
dnspython==1.9.4
duplicity==0.6.15
elisa==1.0.9
elisa-plugin-amazon==0.4
elisa-plugin-amp==0.5
elisa-plugin-avahi==0.4
elisa-plugin-base==0.16
elisa-plugin-coherence==0.3
elisa-plugin-daap==0.3
elisa-plugin-database==0.21
elisa-plugin-discogs==0.3
elisa-plugin-dvd==0.9
elisa-plugin-elisa-updater==0.4
elisa-plugin-filtered-shares==0.2
elisa-plugin-flickr==0.13
elisa-plugin-gnome==0.4
elisa-plugin-gstreamer==0.12.1
elisa-plugin-hal==0.4
elisa-plugin-http-client==0.4
elisa-plugin-ipod==0.4
elisa-plugin-lastfm==0.3
elisa-plugin-lirc==0.6
elisa-plugin-osso==0.2
elisa-plugin-pigment==0.20
elisa-plugin-poblesec==0.21.3
elisa-plugin-rss==0.8
elisa-plugin-search==0.4
elisa-plugin-shoutcast==0.9
elisa-plugin-smbwin32==0.3
elisa-plugin-themoviedb==0.5.1
elisa-plugin-thetvdb==0.5.1
elisa-plugin-winremote==0.2
elisa-plugin-winscreensaver==0.1
elisa-plugin-wmd==0.8
elisa-plugin-youtube==0.15
feedparser==5.0.1
foolscap==0.6.1
fpconst==0.7.2
gdata==2.0.14
gnome-app-install==0.4.7-nmu1ubuntu2
gufw==11.10.2
httplib2==0.7.2
ipython==0.10.2
jockey==0.9.4
keyring==0.9.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
louis==2.3.0
mechanize==0.1.11
mutagen==1.19
nvidia-common==0.0.0
oauth==1.0.1
onboard==0.96.1
oneconf==0.2.6.7
papyon==0.5.5
paramiko==1.7.7.1
pexpect==2.3
piston-mini-client==0.6
protobuf==2.4.0a
pyOpenSSL==0.12
pyPdf==1.13
pyasn1==0.0.11a
pycrypto==2.3
pycups==1.9.59
pycurl==7.19.0
pygeoip==0.3.0
pyinotify==0.9.1
pyparsing==1.5.2
pyserial==2.5
pysmbc==1.0.10
pysqlite==2.6.3
python-apt==0.8.0ubuntu9
python-dateutil==1.4.1
python-debian==0.1.20ubuntu2
python-libpisock==0.12.5
python-mpd==0.3.0
python-nmap==0.3.2
python-virtkey==0.60.0
pytz==2010b
pyxdg==0.19
reportlab==2.5
scapy==2.1.0
selenium==4.15.1
sessioninstaller==0.0.0
simplejson==2.1.6
storm==0.18
system-service==0.1.6
tagpy==0.94.8
twill==0.9
uTidylib==0.2
ubuntu-sso-client==1.4.1
ubuntuone-couch==0.3.0
ubuntuone-installer==2.0.0
ubuntuone-storage-protocol==2.0.1
ufw==0.30.1-2ubuntu1
unattended-upgrades==0.1
usb-creator==0.2.23
vboxapi==1.0
vobject==0.8.1c
wadllib==1.2.0
wsgiref==0.1.2
wxPython==2.8.11.0
wxPython-common==2.8.11.0
xdiagnose==1.1
xkit==0.0.0
xsser==1.5
zenmap==5.21
zope.interface==3.6.1
